@using PierresSassyStore.ViewModels
@using System.Collections.Generic;
@{
    string modelType = Model.GetType().ToString();
    int id;
    List<ModalViewModel> modalObjectList = new List<ModalViewModel>();
}
<div class="card">
      <div class="row no-gutter">
            <div class="col-auto">
                @if(string.IsNullOrEmpty(Model.Image_url))
                {
                    <img src="~/img/genericTreats.jpg" alt="Display of Generic Treats">
                }
                else
                {
                    <img src="{@Model.Image_url}" alt="Display Image, @Model.Name">
                }
            </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                @if(modelType == "PierresSassyStore.Models.Treat")
                {
                    id = @Model.TreatId;
                }
                else if (modelType == "PierresSassyStore.Models.Flavor")
                {
                    id = @Model.FlavorId;
                }
                else
                {
                    id = 0;
                }
                <p>@Html.ActionLink("Link to Details", "Details", new { id = id })</p>
                @if(User.Identity.IsAuthenticated)
                {
                    <p>@Html.ActionLink("Edit", "Edit", new { id = id }, new {@class = "btn btn-primary"}) 
                    @{modalObjectList.Add(new ModalViewModel(){ Name = "Remove", LinkAction="Delete", LinkController = "Treats", Id = id });}     
                    @await Html.PartialAsync("_AreYouSurePartial", modalObjectList.FirstOrDefault(o => o.Id == id))
                        
                        @*@Html.ActionLink("Remove", "Delete", new { id = id })*@</p>
                }
            </div>
        </div>
    </div>
</div>