@using PierresSassyStore.ViewModels
@using System.Collections.Generic;
@{
    string modelType = Model.GetType().ToString();
    int id;
    string genericImg;
    if(modelType == "PierresSassyStore.Models.Treat")
    {
        id = Model.TreatId;
        genericImg = "/img/genericTreats.jpg";
    }
    else if (modelType == "PierresSassyStore.Models.Flavor")
    {
        id = Model.FlavorId;
        genericImg = "/img/genericFlavors.jpg";
    }
    else
    {
        id = 0;
        genericImg = "/img/unknownGeneric.jpg";
    }
}
<div class="card">
      <div class="row no-gutter">
            <div class="col-auto">
                @if(string.IsNullOrEmpty(Model.Image_url))
                {
                    <img src="@genericImg" class="card-img" alt="Display Generic Food Type">
                }
                else
                {
                    <img src="@Model.Image_url" class="card-img" alt="Display Image, @Model.Name">
                }
            </div>
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Description</p>
                <p>@Html.ActionLink("Link to Details", "Details", new { id = id })</p>
                @if(User.Identity.IsAuthenticated)
                {
                    <p>@Html.ActionLink("Edit", "Edit", new { id = id }, new {@class = "btn btn-primary"})
                    @await Html.PartialAsync("_AreYouSurePartial", new ModalViewModel(){ Name = "Remove", LinkAction="Delete", LinkController = "Treats", Id = id })</p>
                }
            </div>
        </div>
    </div>
</div>