@model PierresSassyStore.Models.Treat

<h2>Add a treat to the library!</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Image_url)
        @Html.TextBoxFor(m => m.Image_url)
    </div>
    <div class="form-group">
        @Html.Label("Select Primary Flavor")
        @Html.DropDownList("FlavorIds")
    </div>

    <input type="submit" value="Add new Treat">
}
    